
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Mandali&family=Titan+One&display=swap');

// VARIABLES
$color: #000000;
$color0: #ffffff;
$color1: #ffe8c5;
$color2: #d5b686;
$color3: #6f4d18;
$ccolor1: #1a1919;
$ccolor2: #f37b0b;
$ccolor3: #9e0909;
$color10: #4A4F54;

$font1: 'Mandali', sans-serif;
$font2: 'Titan One', cursive;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color;
    font-family: $font1;}

  /* HEADER - INICIO */
header{
    height: 100px;
    width: 100%;}
    .navbar{
        padding: 0;
        margin: 0;}
        .container-fluid{
            padding: 0;
            margin: 0;
            height: 100px;
            // background-color: $color;
            background-image: linear-gradient(to bottom, $color, $ccolor1);
            // opacity: 80%;
        }
            .navbar-brand{
                padding: 0;
                margin: 0;}
        .navbar-dark .navbar-nav .nav-link{
            color: $color0;
            font-weight: bold;
            text-align: center;
            font-size: large;
            padding: 10px 16px;
            margin: 10px;}
        .navbar-dark .navbar-nav .nav-link:hover{
            color: $ccolor3;
            font-weight: bold;
            background-color: $color1;
            border-radius: 10px;}
        .navbar-dark .navbar-nav .nav-link.active{
            @extend .nav-link, :hover;}
        .nav-item{
            padding: 10px;}
            .dropdown-menu{
                background-color: $ccolor1;
                border-radius: 10px;}
            .dropdown-item{
                text-align: center;
                color: $color0;}
            .dropdown-item:hover{
                color: $ccolor3;
                font-weight: bold;
                background-color: $color1;}

@media (min-width: 0px) and (max-width: 767px){
    #collapsibleNavbar{
        background-color: $ccolor1;
        opacity: 95%;}
    .navbar-dark .navbar-nav .nav-link{
        color: $color0;
        font-weight: bold;}
    .navbar-dark .navbar-nav .nav-link:hover{
        color: $ccolor3;
        font-weight: bold;
        background-color: $color1;}
    .nav-item{
        align-self: center;}
}
@media (min-width: 768px){
    #collapsibleNavbar{
        justify-content: flex-end;}
}
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inicio{
    @include flex-column-center;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
    background-image: url(../imagenes/Laotragrieta1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid $color;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;}
    .inicio h1{
        text-align: center;
        text-shadow: 2px 2px $color;
        font-family: 'Luckiest Guy', cursive;
        font-weight: 400;
        font-size: 90px;
        color: $color0;}
    .inicio h2{
        text-align: center;
        text-shadow: 1.5px 1.5px $color;
        font-size: 35px;
        color: $color0;
        font-style: italic;
        text-decoration: overline;}
    @media (min-width: 0px) and (max-width: 409px){
    .inicio h1{
        font-size: 75px;}
    .inicio h2{
        font-size: 20px;}
    }

    /* HEADER - FIN */
main {
    height: min-content;
    width: 100%;
    color: $color0;
    display: flex;
    flex-direction: column;}
.titulo{
    height: min-content;
    font-family: $font2;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: $color0;
    text-shadow: 2px 2px $ccolor3;
    margin: 10px;}
.presentacion{
    height: min-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #ffffff;}
    .imgpres{
        display: flex;
        justify-content: center;}
    .presentacion img{
        max-height: 500px;
        max-width: 75%;
        margin: 25px;
        // border: 2px solid $color3;
        // box-shadow: 2px 2px $color2;
    }
    .titulo{
        width: 100%;}
    .p {
        height: 100%;
        width: 50%;
        font-size: large;
        text-align: justify;
        display: flex;
        align-self: center;}
.neuroplasticidad{
    @extend .p;
    width: 100%;
    flex-direction: column;
    border-bottom: 2px solid $color0;
}
    h4{
        padding-top: 5px;
        text-transform: uppercase;
        text-align: center;
    }

.obras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
$estilos:(
    centro: center,
    margen: 30px,
);
.boton{
    display: flex;
    justify-content: map-get($estilos, centro);
    margin: map-get($estilos, margen);
}
.btn{
    background-color: $color1;
    color: $ccolor3;
    font-weight: bold;
}
.card:hover{
    box-shadow: 0 0.5rem 0.9rem 0 $ccolor1;
}

  /* CAROUSEL - INICIO */
.inicio-carousel {
    padding: 1.5rem;}
    .inicio-carousel .carousel-indicators {
        bottom: -0.5rem;}
    .inicio-carousel .carousel-indicators [data-bs-target] {
        width: 1rem;
        height: 1rem;
        margin: 0 0.5rem 0.2rem 0.5rem;
        border-radius: 50%;}
    .inicio-carousel .carousel-control-next-icon, .inicio-carousel .carousel-control-prev-icon {
        width: 3rem;
        height: 3rem;}

@media (min-width: 768px) {
    .inicio-carousel .carousel-control-next-icon, .inicio-carousel .carousel-control-prev-icon {
        width: 4.5rem;
        height: 4.5rem;}
}
.inicio-carousel img {
    display: block;
    width: 100%;
    border-radius: 0.6rem;}
  /* CAROUSEL - FIN */

  /* ACERCA DE - INICIO */
.acercade{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
    height: fit-content;}
video{
    width: 100%;
    height: auto;
    border-radius: 10px;}
.expo1{
    grid-area: expo1;
    background-image: url(../imagenes/Figurativo/4.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    // border: 2px solid $color3;
    // box-shadow: 2px 2px $color2;
}
.text1{
    display: flex;
    align-items: center;
    color: $color0;
    font-size: large;
    text-align: justify;}
.expo2{
    grid-area: expo2;
    // border: 2px solid $color3;
    // box-shadow: 2px 2px $color2;
}
.text2{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    color: $color0;}
.text2 ul{
    list-style-type: square;}

@media (min-width: 576px) {
    .acercade{
        height: fit-content;
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: row;
        grid-template-areas:
        "text1"
        "expo1"
        "text2"
        "expo2";
    }
}
@media (min-width: 768px) {
    .acercade{
        height: fit-content;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        gap: 30px;
        grid-template-areas:
        "text1 expo1"
        "expo2 text2";
    }
}
  /* ACERCA DE - FIN */

  /* CONTACTO - INICIO */
.contacto {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
form{
    height: 50%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(213, 182, 134, 0.502);
    box-shadow: 2px 2px $color3;
    border-radius: 1.5%;}
/* CONTACTO - FIN */

/* FOOTER - INICIO */
footer{
    height: auto;
    width: 100%;
    // border-top: 2px solid $color;
    background-image: linear-gradient(to top, $color, $ccolor1);
    color: $color0;
    padding-top: 20px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
}
footer ul{
    display: flex;
    justify-content: center;}
footer li{
    list-style: none;
    padding-right: 16px;}
footer a{
    display: flex;}
footer a:hover{
    transform: scale(1.2);}
/* FOOTER - FIN */

/* OBRAS - INICIO */
.galeria{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}
.img{
    min-height: 200px;
    min-width: 200px;
    box-shadow: 3px 3px 3px $color3;
    margin: 2px;}
    .img p{
        background: rgba(0, 0, 0, 0.502);
        height: 100%;
        width: 100%;
        opacity: 0%;}
    .img:hover{
        transform: scale(1.05);
        transition: 0.7s;
        border: 2px solid $color;
        box-shadow: 3px 3px 3px $color;}
    .img:hover p{
        opacity: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        color: $color0;
        font-weight: bold;
        margin: auto;}
/* FIGURATIVO - INICIO */
.fig-img1 {
    grid-area: img1;
    background-image: url(../imagenes/Figurativo/4.jpg); 
    background-position: center;
    background-size: cover;}

.fig-img2 { grid-area: img2;
    background-image: url(../imagenes/Figurativo/1.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img3 { grid-area: img3;
    background-image: url(../imagenes/Figurativo/2.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img9 { grid-area: img9;
    background-image: url(../imagenes/Figurativo/11.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img5 { grid-area: img5;
    background-image: url(../imagenes/Figurativo/6.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img4 { grid-area: img4;
    background-image: url(../imagenes/Figurativo/10.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img6 { grid-area: img6;
    background-image: url(../imagenes/Figurativo/8.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img7 { grid-area: img7;
    background-image: url(../imagenes/Figurativo/5.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img8 { grid-area: img8;
    background-image: url(../imagenes/Figurativo/9.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img10 { grid-area: img10;
    background-image: url(../imagenes/Figurativo/12.jpg); 
    background-position: center;
    background-size: cover; }

.fig-img11 { grid-area: img11;
    background-image: url(../imagenes/Figurativo/3.jpg); 
    background-position: center;
    background-size: cover; }
/* FIGURATIVO - FIN */
/* ABSTRACTO - INICIO */
img{
    max-width: 100%;}
button img:hover {
    opacity: 70%;}
.galeria-abs{
    padding-top: 30px;
    padding-bottom: 80px;}
    .galeria-abs img{
        width: 100%;
        box-shadow: 3px 3px 3px #333;
    }
.btn-close{
    background-image: url(../imagenes/closebutton.png);}
.modal-content{
    border: none;}
.modal-body{
    height: 80vh;
    display: flex;
    justify-content: center;}
.modal-body .modal-img{
    height: 100%;
    width: auto;
    object-fit: cover;}
.my-modal{
    background-color: rgba(0, 0, 0, 0.85);}
.myModal-header, .myModal-body{
    background-color: black;
    color: #ffffff;}
/* ABSTRACTO - FIN */
@media (min-width: 576px) {
    .galeria { display: grid;
        height: 200vh;
        width: auto;
        margin: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "img5 img5"
        "img1 img2"
        "img3 img10"
        "img4 img6"
        "img7 img11"
        "img8 img9";
        grid-area: main;}
}
@media (min-width: 768px) {
    .galeria { display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "img1 img2 img3"
        "img1 img4 img6"
        "img5 img5 img7"
        "img10 img9 img11"
        "img8 img8 img8";
        grid-area: main;}
}
@media (min-width: 992px) {
    .galeria { display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "img1 img2 img3 img4"
        "img1 img6 img5 img5"
        "img10 img7 img7 img9"
        "img8 img8 img11 img9";
        grid-area: main;}
}
 /* OBRAS - FIN */