@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Mandali&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000000;
  font-family: "Mandali", sans-serif; }

/* HEADER - INICIO */
header {
  height: 100px;
  width: 100%; }

.navbar {
  padding: 0;
  margin: 0; }

.navbar .container-fluid {
  padding: 0;
  margin: 0;
  height: 100px;
  background-image: linear-gradient(to bottom, #000000, #1a1919); }

.navbar-brand {
  padding: 0;
  margin: 0; }

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: large;
  padding: 10px 16px;
  margin: 10px; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
  color: #9e0909;
  font-weight: bold;
  background-color: #ffe8c5;
  border-radius: 10px; }

.nav-item {
  padding: 10px; }

.dropdown-menu {
  background-color: #1a1919;
  border-radius: 10px; }

.dropdown-item {
  text-align: center;
  color: #ffffff; }

.dropdown-item:hover, .navbar-dark .navbar-nav .dropdown-item.active.nav-link {
  color: #9e0909;
  font-weight: bold;
  background-color: #ffe8c5; }

@media (min-width: 0px) and (max-width: 767px) {
  #collapsibleNavbar {
    background-color: #1a1919;
    opacity: 95%; }
  .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    font-weight: bold; }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    color: #9e0909;
    font-weight: bold;
    background-color: #ffe8c5; }
  .nav-item {
    align-self: center; } }

@media (min-width: 768px) {
  #collapsibleNavbar {
    justify-content: flex-end; } }

#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  background-image: url(../imagenes/Laotragrieta.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid #000000;
  align-items: center; }

.inicio h1 {
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 90px;
  color: #ffffff; }

.inicio h2 {
  text-align: center;
  text-shadow: 1.5px 1.5px #000000;
  font-size: 35px;
  color: #ffffff;
  font-style: italic;
  text-decoration: overline; }

@media (min-width: 0px) and (max-width: 409px) {
  .inicio h1 {
    font-size: 75px; }
  .inicio h2 {
    font-size: 20px; } }

/* HEADER - FIN */
main {
  height: min-content;
  color: #ffffff;
  display: flex;
  flex-direction: column; }

.titulo {
  height: min-content;
  width: auto;
  font-family: "Titan One", cursive;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #9e0909;
  padding: 10px; }

.presentacion {
  height: min-content;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ffffff; }

.presentacion #imgpres {
  max-height: 600px;
  width: auto;
  padding: 25px; }

.presentacion img {
  max-height: 100%;
  max-width: 100%; }

.p, .neuroplasticidad {
  font-size: large;
  line-height: 1.6;
  text-align: justify;
  align-self: center; }

@media (max-width: 991px) {
  .presentacion {
    flex-wrap: wrap; } }

.neuroplasticidad {
  width: 100%; }

.accordion {
  margin-top: 30px;
  margin-bottom: 30px; }

.accordion-button, .accordion-body {
  background-color: #1a1919;
  color: #ffffff; }

button.accordion-button, .accordion-button:not(.collapsed) {
  background-color: #ffe8c5;
  color: #9e0909;
  font-weight: bold;
  box-shadow: 2px 2px 5px #6f4d18; }

.accordion-button:focus {
  box-shadow: #9e09095d 0px 0px 0px 0.25rem; }

.obras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.card:hover, .navbar-dark .navbar-nav .card.active.nav-link {
  box-shadow: 0 0 0 0.25rem #1a1919; }

.boton {
  display: flex;
  justify-content: center;
  margin: 30px; }

.btn {
  background-color: #ffe8c5;
  color: #9e0909;
  font-weight: bold;
  box-shadow: 2px 2px 5px #6f4d18; }

.trabajos {
  border-top: 2px solid #ffffff; }

/* CAROUSEL - INICIO */
.inicio-carousel {
  padding: 1.5rem; }

.inicio-carousel .carousel-indicators {
  bottom: -0.5rem; }

.inicio-carousel .carousel-indicators [data-bs-target] {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0.2rem 0.5rem;
  border-radius: 50%; }

.inicio-carousel .carousel-control-next-icon, .inicio-carousel .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem; }

@media (min-width: 768px) {
  .inicio-carousel .carousel-control-next-icon, .inicio-carousel .carousel-control-prev-icon {
    width: 4.5rem;
    height: 4.5rem; } }

.inicio-carousel img {
  display: block;
  width: 100%;
  border-radius: 0.6rem; }

.carousel-caption h3 {
  text-shadow: 2px 2px #000000; }

/* CAROUSEL - FIN */
/* ACERCA DE - INICIO */
.acercade {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
  height: fit-content; }

.expo1 {
  grid-area: expo1;
  background-image: url(../imagenes/Figurativo/4.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px; }

.text1 {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: large;
  text-align: justify; }

.expo2 {
  grid-area: expo2; }

video {
  width: 100%;
  height: auto;
  border-radius: 10px; }

.text2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  color: #ffffff; }

.text2 ul {
  list-style-type: square; }

@media (max-width: 767px) {
  .acercade {
    height: fit-content;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-template-areas: "text1" "expo1" "text2" "expo2"; }
  .expo1 {
    max-height: 600px;
    width: auto; } }

@media (min-width: 768px) {
  .acercade {
    height: fit-content;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    gap: 30px;
    grid-template-areas: "text1 expo1" "expo2 text2"; } }

/* ACERCA DE - FIN */
/* GALERIA - INICIO */
#abs.container-fluid {
  height: fit-content;
  margin-bottom: 20px; }

.galeria {
  padding-top: 30px;
  margin-bottom: 50px; }

.galeria img {
  box-shadow: 3px 3px 3px #333333; }

.galeria .col {
  display: flex;
  justify-content: center; }

img {
  max-height: 100%;
  max-width: 100%; }

button img:hover, button .navbar-dark .navbar-nav img.active.nav-link, .navbar-dark .navbar-nav button img.active.nav-link {
  opacity: 70%; }

.my-modal {
  background-color: rgba(0, 0, 0, 0.85); }

.modal-content {
  border: none; }

.myModal-header, .myModal-body {
  background-color: #000000;
  color: #ffffff; }

.btn-close {
  background-image: url(../imagenes/closebutton.png); }

.modal-body {
  height: 80vh;
  display: flex;
  justify-content: center; }

.modal-body .modal-img {
  height: 100%;
  width: auto;
  object-fit: cover; }

#abs h2 {
  background-image: url(../imagenes/Abstracto/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center; }

/* GALERIA - FIN */
/* CONTACTO - INICIO */
#contacto {
  height: fit-content;
  min-height: 100vh;
  background-image: url(../imagenes/slide1.jpg);
  background-position: center;
  background-size: cover; }

form {
  background-color: #333333d2;
  color: #ffffff;
  font-size: 18px;
  border-radius: 1.5%;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #000000; }

/* CONTACTO - FIN */
/* FOOTER - INICIO */
footer {
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(to top, #000000, #1a1919);
  color: #ffffff;
  padding-top: 20px;
  display: flex;
  flex: wrap;
  flex-direction: column;
  align-items: center; }

footer ul {
  display: flex;
  justify-content: center; }

footer li {
  list-style: none;
  padding-right: 16px; }

footer a {
  display: flex; }

footer a:hover, footer .navbar-dark .navbar-nav a.active.nav-link, .navbar-dark .navbar-nav footer a.active.nav-link {
  transform: scale(1.2); }

/* FOOTER - FIN */
